@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

nav {
  background-color: #5855e7;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.nav_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_list {
  display: flex;
  gap: 42px;
}

.nav_list li {
  list-style-type: none;
}

.nav_list li a {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}

.btn {
  border: none;
  background: #ffffff;
  border-radius: 5px;
}

.nav_btn {
  width: 267px;
  height: 50px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.icon_wrap {
  display: none;
}

[type="checkbox"]:checked ~ label {
  background: #5855e7;
}

/* header style start */
header {
  background-color: rgb(250, 250, 250);
}
.header-wrap {
  display: flex;
  justify-content: space-between;
}
.header-wrap_info {
  margin-top: 180px;
}
.header-wrap_info h1 {
  width: 568px;
  height: 134px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}
.header-wrap_info span {
  color: #5855e7;
}
.header-wrap_info p {
  width: 534px;
  height: 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-top: 40px;
  color: #000000;
}
.header-buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 60px;
  width: 499px;
  height: 58px;
}
.header-buttons button {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  width: 220px;
  height: 58px;
  border: 3px solid #6347eb;
  border-radius: 10px;
  background-color: #ffffff;
}
.header-buttons button:hover {
  background-color: #6347eb;
  color: #ffffff;
}
.header-wrap_image {
  position: relative;
  width: 888px;
  height: 648px;
}
.header-wrap_image img {
  position: absolute;
  top: 0;
  left: -12rem;
  z-index: 2;
}
.header-bg_image {
  position: absolute;
  width: 645px;
  height: 645px;
  border-radius: 50%;
  background-color: #edebfa;
  top: 20rem;
  left: 3rem;
  background-image: conic-gradient(
    #edebfa 0deg,
    #edebfa 90deg,
    #ffffff 90deg,
    #ffffff 270deg,
    #edebfa 270deg
  );
  z-index: 1;
}
/* header style end */


/* -------------------Cards Section -------------------*/
@font-face {
  font-family: "Gilroy-Medium";
  src: url(gilroy/Gilroy-Medium.ttf);
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url(gilroy/Gilroy-Bold.ttf);
}

.info_cards {
  margin-top: 145px;
  position: relative;
  padding: 0px 183px;
}
.heading_1 {
  text-align: center;
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 119px;
  color: #eeeeee;
}
.heading_2 {
  position: absolute;
  top: 7.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
}
.wrap_card_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 55px;
  margin-top: 85px;
}
.wrap_box {
  display: flex;
  gap: 85px;
}
.card_1 {
  text-align: center;
  background: #5855e7;
  box-shadow: 0px 0px 35px rgba(17, 17, 17, 0.25);
  border-radius: 15px;
  transition: 0.5s all;
}
.card_1:hover {
  transform: scale(1.05);
  background-color: #2c09d6;
}
.card_1 img {
  width: 265px;
  height: 251px;
  padding: 20px;
  padding-bottom: 0px;
}
.card_1 h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  font-family: "Gilroy-Medium";
  padding-top: 25px;
  color: #fafbfd;
}
.card_1 h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding-top: 15px;
  font-family: "Gilroy-Medium";
  color: #ffffff;
}
.card_1 p {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  font-family: "Gilroy-Medium";
  padding: 20px 0px 30px 0px;
  color: #ffffff;
}
.card_1 button {
  background: #ffffff;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 5px 24px;
  margin-bottom: 30px;
  border: none;
  color: #6347eb;
  font-family: "Gilroy-Medium";
}

/* ------------------- /Cards Section -------------------*/
.main {
  background-color: #5855e7;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 91px;
}

.main-item {
  padding: 20px;
  width: 301px;
  text-align: center;
  margin: 0 auto;
}

.main-title {
  text-align: center;
  padding-top: 73px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
}

.main-item h3 {
  width: 285px;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  letter-spacing: -1px;
  line-height: 30px;
  color: #ffffff;
}

.main-item img {
  margin: 0;
  padding: 0;
}

.main-item p {
  margin-top: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -1px;
  color: #ffffff;
}

/* ----------------------- about section -------------------------- */

@font-face {
  font-family: "Gilroy-Bold-ttf";
  src: url(media/Gilroy/Gilroy-Bold.ttf);
}
@font-face {
  font-family: "Gilroy-Medium-ttf";
  src: url(media/Gilroy/Gilroy-Medium.ttf);
}
/* ------about image------- */
.about {
  display: flex;
  justify-content: space-evenly;
  padding: 214px 138px;
  gap: 44px;
}

.about_img img {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transition: 0.5s all;
}

.about_img img:hover {
  transform: scale(1.03);
}

/* --------about text-------- */
.about_text {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.about_text_heading {
  font-family: "Gilroy-Bold-ttf";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
}
.about_text_paragraph {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  font-family: "Gilroy-Medium-ttf";
  color: #000000;
}

/* ----------------------- about section end -------------------------- */


@media (max-width: 375px) {
  body {
    background: url(./media/image/bg.png);
    background-attachment: fixed;
  }
  nav {
    background-color: white;
  }
  .container {
    width: 300px;
  }
  .container ul {
    display: none;
  }
  .nav_wrap .logo {
    width: 80px;
  }
  .nav_btn {
    display: none;
  }
  .icon_wrap {
    display: inline-block;
  }

   /* header style start */
   header {
    background: none;
  }
  .header-wrap {
    flex-direction: column;
    margin-top: 12rem;
    background: url(./media/image/bg2.png);
    background-attachment: fixed;
  }
  .header-wrap_info {
    order: 2;
    position: relative;
  }
  .header-wrap_info h1 {
    position: absolute;
    font-size: 1rem;
    line-height: 20px;
    width: 316px;
    height: 1rem;
    text-align: center;
    z-index: 10;
  }
  .header-wrap_info p {
    position: absolute;
    top: 1rem;
    font-size: 0.7rem;
    width: 306px;
    text-align: center;
    z-index: 10;
  }
  .header-buttons {
    position: absolute;
    top: 6rem;
    width: 300px;
    margin-top: 40px;
    z-index: 10;
  }
  .header-buttons button {
    font-size: 1rem;
    width: 106px;
    height: 40px;
  }
  .header-wrap_image {
    order: 1;
    width: 323px;
    height: 30px;
  }
  .header-wrap_image img {
    width: 444px;
    height: 324px;
    top: -10.2rem;
    left: -10rem;
  }
  .header-bg_image {
    position: static;
    width: 323px;
    height: 323px;
  }
  /* header style end */

  .main-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .main-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 40px;
  }

  .main-item {
    width: 270px;
  }

  .main-item img {
    width: 209px;
  }

  .main-item h3 {
    width: 260px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
  }

  .main-item p {
    width: 260px;
    font-size: 14px;
  }
  .wrap_box {
    flex-direction: column;
    gap: 50px;
  }
  .info_cards {
    margin-top: 67px;
    position: relative;
    padding: 0px 60px;
  }
  .card_1:hover {
    transform: scale(1.05);
    background-color: #2c09d6;
  }

  .heading_1 {
    font-size: 72px;
    line-height: 89px;
  }
  .heading_2 {
    font-size: 32px;
    top: 2.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 40px;
  }
  .wrap_card_items {
    margin-top: 75px;
  }
  .about {
    flex-direction: column;
    position: relative;
    padding: 130px 37px 0px 37px;
  }

  .about_text_heading {
    position: absolute;
    top: 65px;
    left: 135px;
    font-size: 32px;
    line-height: 40px;
  }

  .about_img img {
    width: 300.12px;
    height: 276px;
    background-color: red;
  }

  .about_text_paragraph {
    font-size: 16px;
    line-height: 19px;
  }
}